.modal-overlay{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.7);
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:9999;
}

.modal{
  width:100%;
  max-width:500px;
  background:#111827;
  border-radius:24px;
  padding:30px;
  display:flex;
  flex-direction:column;
  gap:16px;
  border:1px solid #1f2937;
}

.modal input{
  background:#1f2937;
  padding:14px;
  border-radius:14px;
  color:white;
}

.modal-actions{
  display:flex;
  gap:12px;
}

.btn-save{
  flex:1;
  background:#22c55e;
  color:white;
  padding:14px;
  border-radius:14px;
  font-weight:700;
}

.btn-cancel{
  flex:1;
  background:#ef4444;
  color:white;
  padding:14px;
  border-radius:14px;
  font-weight:700;
}